.sectionWrapper {
  position: relative; 
  overflow: hidden;
}

.heading{
    font-size: 50px;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}
.contentBox {
  background: #e8f0ff;
  border-radius: 20px;
  box-shadow: 0 0px 14px -5px var(--rv-primary);
  padding: 60px 40px;
  overflow: hidden;
  position: relative;
}

.contentBox:before {
    content: "";
    position: absolute;
    top: -76px;
    left: 560px;
    background-color: #92b6f966;
    height: 172%;
    width: 100%;
    border-radius: 80%;
    z-index: 0;
}

.leftHeading {
  font-size: 50px;
  font-weight: 600;
  color: var(--rv-primary-dark);
}

.leftDescription {
  font-size: 1rem;
  color: #444;
  line-height: 1.6;
}

.cardTitle {
  font-weight: 600;
  color: var(--rv-primary);
  margin-bottom: 1rem;
  text-align: center;
}

.sectionWrapper {
  position: relative;
  overflow: hidden;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}

@media (min-width: 768px) {
  .heading {
    font-size: 3rem;
  }
}

.contentBox {
  background: #e8f0ff;
  border-radius: 20px;
  box-shadow: 0 0px 14px -5px var(--rv-primary);
  padding: 2rem 1.25rem;
  position: relative;
  overflow: hidden;
}

@media (min-width: 768px) {
  .contentBox {
    padding: 60px 40px;
  }
}

.contentBox:before {
  content: "";
  position: absolute;
  top: -76px;
  left: 560px;
  background-color: #92b6f966;
  height: 172%;
  width: 100%;
  border-radius: 80%;
  z-index: 0;
}

@media (max-width: 768px) {
  .contentBox:before {
    display: none;
  }
}

.leftHeading {
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--rv-primary-dark);
}

@media (min-width: 768px) {
  .leftHeading {
    font-size: 3rem;
  }
}

.leftDescription {
  font-size: 1rem;
  color: #444;
  line-height: 1.6;
  max-width: 95%;
}

.cardTitle {
  font-weight: 600;
  color: var(--rv-primary);
  margin-bottom: 1rem;
  text-align: center;
}
