.footersabiLink ul {
    display: flex;
    gap: 20px;
    padding-top: 20px;
    flex-wrap: wrap;
    padding-bottom: 10px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.footersabiLink ul li:after {
    content: "|";
    position: absolute;
    opacity: .5;
    color: var(--rv-white);
    margin-left: 8px;
}